@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.mainBox {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Unbound;
    color: black;
    background-color: #f3f3f3;
}

.box {
    display: flex;
    align-items:flex-start;
    gap: 2%;
    justify-content: space-between;
    border: 1px solid black;
    height: 100%;
    width: 80%;
}

.left-box {
    height: 85%;
    width: 40%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
}

.imgBox {
    height: 95%;
    width: 100%;
    /* border: 1px solid black; */
}

.contact_img {
    height: 75%;
    width: 100%;
}

.notImage {
    height: 50%;
    width: 100%;
    top: 0px;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 16px;
}

.contacts-right {
    border: 1px solid blue;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text {
    color: #ffc61a;
    display: flex;
    align-items: flex-start;
    border: 1px solid blue;
    width: 100%;
    font-size: 20px;
}

.get-in-touch {
    /* width: auto; */
    border: 1px solid blue;
    /* align-self:flex-start; */
    margin-top: 4%;
    font-size: 55px;
    font-weight: 500;
    font-family: Prompt;
    color: #181B26;
}

.sub-text {
    font-family: DM;
    color: #7A7A87;;
}