/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/app/Components/Contact/Contact.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.mainBox {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Unbound;
    color: black;
    background-color: #f3f3f3;
}

.box {
    display: flex;
    align-items:flex-start;
    gap: 2%;
    justify-content: space-between;
    border: 1px solid black;
    height: 100%;
    width: 80%;
}

.left-box {
    height: 85%;
    width: 40%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
}

.imgBox {
    height: 95%;
    width: 100%;
    /* border: 1px solid black; */
}

.contact_img {
    height: 75%;
    width: 100%;
}

.notImage {
    height: 50%;
    width: 100%;
    top: 0px;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 16px;
}

.contacts-right {
    border: 1px solid blue;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text {
    color: #ffc61a;
    display: flex;
    align-items: flex-start;
    border: 1px solid blue;
    width: 100%;
    font-size: 20px;
}

.get-in-touch {
    /* width: auto; */
    border: 1px solid blue;
    /* align-self:flex-start; */
    margin-top: 4%;
    font-size: 55px;
    font-weight: 500;
    font-family: Prompt;
    color: #181B26;
}

.sub-text {
    font-family: DM;
    color: #7A7A87;;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/app/Components/Navbar/navbar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/


.navbar_mainNav__jOcSb {
    /* border: 1px solid red; */
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181b26;
    color: #ffffff;
    font-family: Unbound;
}

.navbar_navBox__TT3Za {
    width: 85%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar_logo__f6aYc{
    /* border: 1px solid white; */
    width: 15%;
    font-size: 36px;
    font-weight: 700;
}

.navbar_navbarMid__QBLOv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    width: 40%;
    font-weight: 400;
    font-size: 16px;
}

.navbar_navbarRight__LMvhe {
    /* border: 1px solid black; */
    width: 500px;
    display: flex;
    justify-content: center;
}

.navbar_btn__PRvj5{
    background-color: #ffc61a;
    border-radius: 30px;
    height: 60px;
    width: 273px;
    color: #181b26;
    font-size: 20px;
    font-weight: 600;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/app/Components/PageBottom/pagebottom.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/

.main {
    /* border: 1px solid purple; */
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-family: Unbound;
    color: #ffffff;
    background-color: #181b26;
}

.left {
    border-right: 1px solid #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* fle */
}

.textBox {
    height: 70%;
    width: 70%;
}

.headerText {
    font-size: 36px;
    font-weight: 700;
}

.description {
    font-family: 'DM';
    font-size: 16px;
    font-weight: 400;
}

.newsletter {
    /* background-color: #ffffff; */
    width: 600px;
    height: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1px;
    border-radius: 40px;  
}

.mail-icon {
    margin-left: 5%;
}

.newsletterMail {
    height: 100%;
    color: #181b26;
}

.newsletterMail:focus{
    font-size: 18px;
    outline: none;
}

.btn {
    background-color: #ffc61a;
    border-radius: 40px;
    color: #181b26;
    height: 78px;
    width: 170px;
    font-size: 20px;
    font-weight: 600;
}

.right {
    width: 50%;
    border-left: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Unbound;
    padding: 5%;
}

.rightBox {
    display: flex;
    width: 55%;
    align-items: top;
    justify-content: space-between;
    /* border: 1px solid white;     */
}

.header {
    /* border: 1px dotted violet; */
    margin: 5px;
    margin-bottom: 15%;
    font-weight: 500;
    font-size: 20px;
}

.contents {
    font-family: DM;
    font-weight: 400;
    font-size: 16px;
}

.firstBox {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    height: 100%;
}

.secondBox {
    width: 50%;
    height: 100%;
    /* border: 1px solid #ffffff; */
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/app/Components/Footer/footer.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.footer {
    /* border: 1px solid tomato; */
    height: 50px;
    background-color: #181b26;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;
    font-family: Unbound;
    border-top: 1px solid #ffffff;
  }
  
