
.main {
    border: 1px solid purple;
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-family: Unbound;
    color: #ffffff;
    background-color: #181b26;
}

.left {
    border-right: 1px solid #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* fle */
}

.textBox {
    height: 70%;
    width: 70%;
    border: 1px dotted yellow;
}

.headerText {
    font-size: 36px;
    font-weight: 700;
}

.description {
    font-family: 'DM';
    font-size: 16px;
    font-weight: 400;
}

.right {
    width: 50%;
    border-left: 1px solid #ffffff;
}

.newsletter {
    /* background-color: #ffffff; */
    width: 600px;
    height: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1px;
    border-radius: 40px;  
}

.mail-icon {
    margin-left: 5%;
}

.newsletterMail {
    height: 100%;
    color: #181b26;
}

.newsletterMail:focus{
    font-size: 18px;
    outline: none;
}

.btn {
    background-color: #ffc61a;
    border-radius: 40px;
    color: #181b26;
    height: 78px;
    width: 170px;
    font-size: 20px;
    font-weight: 600;
}