@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Unbounded&display=swap');

.main {
    width: 100%;
    font-family: Unbound;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181b26;
}

.main-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 50%;
    display: flex;
    padding: 4rem 0rem;
}

.textBox {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.headerText {
    font-family: 'Unbounded', cursive;
    font-size: 36px;
    font-weight: 700;
}

.description {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
}

.newsletter {
    width: 600px;
    height: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.15rem;
    border-radius: 40px;
}

.mail-icon {
    width: 40px;
    height: 40px;
    margin-left: 2rem;
}

.newsletterMail {
    height: 100%;
    color: #181b26;
}

.newsletterMail:focus {
    font-size: 18px;
    outline: none;
}

.btn {
    background-color: #ffc61a;
    border-radius: 40px;
    color: #181b26;
    height: 99%;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
}

.right {
    width: 50%;
    border-left: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Unbounded', cursive;
    padding: 5%;
}

.rightBox {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.links-header {
    font-size: 18px;
    font-family: 'Unbounded';
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}
.contents {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.content-li{

}
.content-li-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.link{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.firstBox {
    display: flex;
    flex-direction: column;
}